.watchSection{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100vh;
  background: #F9F9F9;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}
.watchSectionContainer{
  width: 90%;
  height: 100vh;

  display: flex;
  padding: 15px 10px 10px 10px;
}
.videoPlayerandCommentsSection{
  width: 70%;
  height: 200vh;

}
.recomThumbnail{
  flex-grow: 1;
  width: 400px;

  padding: 10px;
  padding-top: 50px;

}
.watchrecommedBar{
  width: 100%;
  height: 50px;
  display: flex;
  position: relative;
  overflow: hidden;


}

.videPlayer{
  width: 100%:;


  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}

.playerVisual{
  width: 98%;
  height: 75vh;

}
.player{
  width: 100%;
  height: 100%;
  background: black;
  position: relative;
}
.videoDivision{
  width: 100%;
  height: 100%;

}
.videoPlayerDescribe{
  padding-top: 8px;
  width: 98%;


  border-bottom: 1px solid #D3D3D3;
}
.hashtag{

  width: 100%;


  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.hashtagText{
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  color:#0681DF;

}
.playingVideoTitle{
  width: 100%;


    padding-top: 4px;
    padding-bottom: 10px;
}
.playingTitle{

  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color:black;
}
.videoStat{
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.viewReleaseDate{
  width: 30%;

  display: flex;
  align-items: center;

}
.viewsSec,.dateSec{
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #909090;

}
.seprator{
  width: 3px;
  height:3px;
  border-radius: 50%;
  background: #909090;
  margin:0px 8px 0px 8px;
}
.likeAndShareContainer{

    width: 40%;
  align-self: flex-end;
  display: flex;
  justify-content:space-between;
}
.likeanddislike{
  width: 38%;


  display: flex;
  justify-content: center;
  align-items: center;
}
.like,.dislike{
  width: 60%;


  display: flex;
  align-self:center;
  justify-content: center;
  border-bottom: 2px solid #707070;

}
.likeThumb,.dislikeThumb,.shareThumb,.saveThumb{

  display: flex;
  justify-content: center;
  align-items: center;


}
.likeCounter,.dislikeCounter,.shareCounter,.saveCounter{

  font-family: 'Roboto', sans-serif;
  font-size: 14px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5px;
  margin: 5px;
  font-weight: 700;
  color: #707070;
}
.shareAdd{
  width: 60%;

  display: flex;
  justify-content: space-around;
}
.share{
  width: 40%;
  display: flex;
  align-self:center;
  justify-content: center;

}
.addPlayList2{
    width: 40%;
    display: flex;
    align-self:center;
    justify-content: center;
}
.options{
    width: 20%;
    display: flex;
    align-self: center;
}
.AccountandVideoDec{
  width: 100%;

  display: flex;

}

.youtubeAndsubscribe{
  width: 100%;
  height: 50%;
  display: flex;

}
.youtuberAvatar{
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;

}
.youtubeProfilePic{
  width: 60px;
  height: 60px;

  border-radius: 50%;
  background: black;
}
.youTuberNameAndDescribe{
  width: 70%;
    height: 100%;
    overflow: hidden;

}
.slideUPUp{
  height: 19vh;
}
.youtubeChannelName1{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
display:block;
padding-top: 10px;
}
.subScriberCounter{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
display:block;
}
.youtuberBioData{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 22px;
  display:block;
  padding: 15px 0px 15px 0px;
}
.subscibeSec{
  width: 20%;
  height: 100%;

  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.subContainer{
  width: 145px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

}
.subBtn{
  font-family: 'Roboto', sans-serif;

  color:white;
  text-transform: uppercase;
}
.seemoreSec{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
}
.seelessSec{
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
  padding-bottom: 10px;
  line-height: 32px;
}
.describeThing{
  display: block;
  padding: 10px 0px 0px 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
.youtubeLink{
  font-family: 'Roboto', sans-serif;
  padding: 0px 0px 10px 0px;
  font-size: 14px;
  display: block;
}
.thumbnail2{
  height: 100%;
  width: 100%;
  display: flex;

}
.watchThumbnail{
  width: 100%;
  height: 110px;

  display: flex;
  padding: 8px 0px 8px 0px;
  margin:8px 0px 0px 0px;

  cursor: pointer;
}
.thumbnailImages2{
  height: 100%;
  width: 45%;
  position: relative;

}
.thumbnailDescribe2{
  height: 100%;
  width: 55%;

}
.youTubeVideoDescribe2{
  width: 100%;
  height: 100%;

}
.youTubeVideoTitle2{
  width: 100%;

  padding-left: 10px;
  display: flex;
  position: relative;
}
.dotsMenu2{

  position: relative;
  align-items: flex-start;
  visibility: hidden;

}

.youTubeVideoDurationAccount2{
  width: 100%;
  height: 50%;
  padding-left: 10px;
}
.title2{

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  color:black;
}
.youTubeVideoAccountName2{
  padding: 0px
}
.youTubeVideoRelease2{
  padding: 0px;
}
.controllerContainer{
  width: 100%;
  height: 40px;

  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.videoLength{
  width: 98%;
  height: 3px;
  background: rgba(255,255,255,0.3);

  border-radius: 30px;

}
.videoBuffer{

  height: 100%;
  border-radius: 30px;
  background: rgba(255,255,255,0.6);
}
.videoTracker{
  width: 0px;
  height: 100%;
  border-radius: 30px;
  background:red;
  position: relative;
  cursor: pointer;
}
.videoCircle{
  width: 12px;
  height: 12px;
  position: absolute;
  top: -4px;
  right: -6px;
  background: red;
  border-radius: 50%;


}
.videoController{
  width: 100%;
  height: 37px;
  background: rbga(0,0,255,0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;


}

.video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1000;
}
.controllerLeft{

  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  cursor: pointer;
}
.controllerRight{
  width: 250px;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.play,.next,.volume{
  width: 15px;
  height: 15px;


  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.volumeController{
  width: 60px;
  height: 3px;

  position: relative;
  display: flex;
  justify-content:flex-start;
  align-items: center;

  transition: all 0.5s ease;
  cursor: pointer;
}

.volumeTrack{

  -webkit-appearance : none;
  width: 100%;
  height: 100%;
  background: grey;
  position: relative;

}
.volumeTrack::-webkit-slider-thumb{
 -webkit-appearance: none;
 width: 10px;
 height: 10px;
 background: transparent;
 position: relative;
 cursor: pointer;
 background: white;
 z-index: 3;
 border-radius: 50%;
}
.volumeProgress{
  width: 50%;
  height: 100%;
  background: white;
  position: absolute;
  z-index: 1;
}


.volumeLength{
  width: 60px;
  overflow:visible;
}
.totalTime{
  width: 80px;
  height: 18px;
  background: black;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.totalTime span{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;;
color:white;
margin: 3px;
}
.toggleAutoPlay{
  width: 25px;
  height: 12px;
  background: grey;
  border-radius: 30px;
  margin: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.shift{
  justify-content: flex-end;
}
.nonauto,.auto{
  width: 60%;
  height: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  position: relative;
}
.autoImg,.nonImg{

  position: absolute;
}
.toggleAutoImg{
  display: none;
}
.subtitle,.setting,.toggleScreen,.stretchScreen,.fullScreen{
  width: 15px;
  height: 15px;

  position: relative;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.toggleScreen{
  border: 2px solid white;
  position: relative;
}
.smallScreen{
  width: 50%;
  height: 50%;
  background: white;
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 1px;
}
.pauseEmoji{
  display: none;
}
.showImg{
  display: block;
}
.hideImg{
  display: none;
}
.stretchScreen{
  width: 18px;
  height: 12px;
  border: 1px solid white;

}
.fullScreen:hover{
  transition: transform 0.5s ease;
  transform: scale(1.1);
}
